<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sdm.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>sdm.servlets.UsersListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>sdm.servlets.RoleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NewZoneDataServlet</servlet-name>
        <servlet-class>sdm.servlets.NewZoneDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChargeMoneyServlet</servlet-name>
        <servlet-class>sdm.servlets.ChargeMoneyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccountMovementsServlet</servlet-name>
        <servlet-class>sdm.servlets.AccountMovementsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SingleZoneServlet</servlet-name>
        <servlet-class>sdm.servlets.SingleZoneServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChosenZoneServlet</servlet-name>
        <servlet-class>sdm.servlets.ChosenZoneServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductsInZoneServlet</servlet-name>
        <servlet-class>sdm.servlets.ProductsInZoneServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StoresInZoneServlet</servlet-name>
        <servlet-class>sdm.servlets.StoresInZoneServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductsInStoreServlet</servlet-name>
        <servlet-class>sdm.servlets.ProductsInStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SaveOrderDateTypeLocationServlet</servlet-name>
        <servlet-class>sdm.servlets.SaveOrderDateTypeLocationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SaveShoppingCartServlet</servlet-name>
        <servlet-class>sdm.servlets.SaveShoppingCartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckForDiscountsServlet</servlet-name>
        <servlet-class>sdm.servlets.CheckForDiscountsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetDiscountsInOrderServlet</servlet-name>
        <servlet-class>sdm.servlets.GetDiscountsInOrderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddProductInDiscountToCartServlet</servlet-name>
        <servlet-class>sdm.servlets.AddProductInDiscountToCartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StoresParticipatingServlet</servlet-name>
        <servlet-class>sdm.servlets.StoresParticipatingServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductsBoughtFromStoreServlet</servlet-name>
        <servlet-class>sdm.servlets.ProductsBoughtFromStoreServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductsAndDeliveryCostServlet</servlet-name>
        <servlet-class>sdm.servlets.ProductsAndDeliveryCostServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MakeNewStaticOrderServlet</servlet-name>
        <servlet-class>sdm.servlets.MakeNewStaticOrderServlet</servlet-class>
    </servlet>



<!--    <servlet>-->
<!--        <servlet-name>UploadFileServlet</servlet-name>-->
<!--        <servlet-class>sdm.servlets.UploadFileServlet</servlet-class>-->
<!--    </servlet>-->

    <servlet-mapping>
        <servlet-name>MakeNewStaticOrderServlet</servlet-name>
        <url-pattern>/makeNewStaticOrder</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ProductsAndDeliveryCostServlet</servlet-name>
        <url-pattern>/productsAndDeliveryCost</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductsBoughtFromStoreServlet</servlet-name>
        <url-pattern>/productsBoughtFromStore</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddProductInDiscountToCartServlet</servlet-name>
        <url-pattern>/addProductInDiscountToCart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StoresParticipatingServlet</servlet-name>
        <url-pattern>/storesParticipating</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/userslist</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NewZoneDataServlet</servlet-name>
        <url-pattern>/newzonedata</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChargeMoneyServlet</servlet-name>
        <url-pattern>/chargeMoney</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountMovementsServlet</servlet-name>
        <url-pattern>/accountMovements</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SingleZoneServlet</servlet-name>
        <url-pattern>/singleZone</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChosenZoneServlet</servlet-name>
        <url-pattern>/chosenZone</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductsInZoneServlet</servlet-name>
        <url-pattern>/productsInZone</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StoresInZoneServlet</servlet-name>
        <url-pattern>/storesInZone</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductsInStoreServlet</servlet-name>
        <url-pattern>/productsInStore</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SaveOrderDateTypeLocationServlet</servlet-name>
        <url-pattern>/saveOrderDateTypeLocation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SaveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckForDiscountsServlet</servlet-name>
        <url-pattern>/checkForDiscounts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetDiscountsInOrderServlet</servlet-name>
        <url-pattern>/discountsInOrder</url-pattern>
    </servlet-mapping>

<!--    <servlet-mapping>-->
<!--        <servlet-name>UploadFileServlet</servlet-name>-->
<!--        <url-pattern>/uploadFiles</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>